.vo-global__content {
  color: #646464;
  position: relative;
}
body.vo-global__content {
  font-family: Lato, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 784px;
}
.vo-global__content p {
  font-size: 1rem;
}
.vo-global__content p *:last-child {
  margin-bottom: 0;
}
.vo-global__content h2,
.vo-global__content h3,
.vo-global__content h4 {
  color: #0078be;
  margin-bottom: 16px;
  margin-top: 16px;
}
.vo-global__content * + h2,
.vo-global__content * + h3,
.vo-global__content * + h4 {
  margin-top: 40px;
}
.vo-global__content h2 {
  font-size: 3.75rem;
  font-weight: 600;
  letter-spacing: "-0.00833em";
  line-height: 1.2px;
}
.vo-global__content h3 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.167px;
}
.vo-global__content h4 {
  font-size: 2.125rem;
  font-weight: 600;
  letter-spacing: 0.00735em;
  line-height: 1.235px;
}
